***Importation des données provenant d'un fichier .parquet***

In [2]:
import pandas as pd
loaded_data = pd.read_parquet('XRPUSDT_5d_2025-12-15_TO_2025-12-19_1mm_data.parquet')

In [3]:
loaded_data.head(100)

,Open,High,Low,Close,Volume,Close time,Quote volume,Number of trades,Taker base volume,Taker quote volume
Open time,,,,,,,,,,
2025-12-15 00:00:00+01:00,1.9924,1.9974,1.9924,1.9942,81122.3,2025-12-14 23:00:59.999000+00:00,161862.43659,1671,45267.9,90310.76289
2025-12-15 00:01:00+01:00,1.9942,1.9943,1.9926,1.9935,31131.2,2025-12-14 23:01:59.999000+00:00,62061.40280,819,17959.4,35801.54117
2025-12-15 00:02:00+01:00,1.9934,1.9934,1.9906,1.9908,16218.4,2025-12-14 23:02:59.999000+00:00,32305.43248,748,6546.9,13041.60419
2025-12-15 00:03:00+01:00,1.9909,1.9909,1.9868,1.9872,38050.0,2025-12-14 23:03:59.999000+00:00,75675.53696,1570,14751.7,29336.47323
2025-12-15 00:04:00+01:00,1.9872,1.9884,1.9869,1.9884,40711.5,2025-12-14 23:04:59.999000+00:00,80927.40797,809,10843.6,21549.54313
...,...,...,...,...,...,...,...,...,...,...
2025-12-15 01:35:00+01:00,1.9841,1.9841,1.9816,1.9818,65571.3,2025-12-15 00:35:59.999000+00:00,129971.65425,1008,18821.1,37305.87014
2025-12-15 01:36:00+01:00,1.9817,1.9817,1.9791,1.9805,35545.6,2025-12-15 00:36:59.999000+00:00,70393.47581,779,16207.1,32094.53292
2025-12-15 01:37:00+01:00,1.9805,1.9807,1.9786,1.9800,19157.5,2025-12-15 00:37:59.999000+00:00,37930.05437,486,5623.9,11132.15672
2025-12-15 01:38:00+01:00,1.9799,1.9801,1.9783,1.9788,7042.8,2025-12-15 00:38:59.999000+00:00,13940.01325,421,4647.0,9198.47857
2025-12-15 01:39:00+01:00,1.9788,1.9792,1.9779,1.9790,8341.1,2025-12-15 00:39:59.999000+00:00,16504.32929,342,4784.2,9466.82358